<div class="language_switcher">
	<%= t "page.language.select" %>: 
	<select class="lang_switcher">
		<option value="de"><%= t("page.language.german") %></option>
		<option value="en"><%= t("page.language.english") %></option>
	</select><br />
</div>