<%= form_for(@testobject) do |f| %>
  <% if @testobject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testobject.errors.count, "error") %> prohibited this testobject from being saved:</h2>

      <ul>
      <% @testobject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
